<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<p th:text="${book.getBook_name() + ', ' + book.getAuthor() + ', '
+ book.getYearOfWriting()}">VALUE</p>

<p th:if="${book.getPerson() == null}">Book don't have a reader</p>

<div th:if="${book.getPerson() != null}">
    <div th:text="${owner.getPerson_name() + ' has a book now'}">VALUE</div>
</div>
<br>
<form th:method="PATCH" th:action="@{/books/{id}/deleteID(id=${book.getBookId()})}"
      th:if="${book.getPerson() != null}">
    <input type="submit" value="Free book">
</form>

<form th:method="PATCH" th:action="@{/books/{id}/updateID(id=${book.getBookId()})}" th:object="${book}"
      th:if="${book.getPerson() == null}">
    <label for="person">Choose person</label>
    <select th:object="${person}" th:field="*{person_id}" id="person">
        <option th:each="person : ${people}" th:value="${person.getPerson_id()}"
                th:text="${person.getPerson_name()}"></option>
    </select>
    <input type="submit" value="Give a book">
</form>
<br>
<hr>
<form  th:action="@{/books/{id}/edit(id=${book.getBookId()})}">
    <input type="submit" value="Edit"/>
</form>
<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getBookId()})}">
    <input type="submit" value="Delete"/>
</form>
<br>
<form  action="/books">
    <input type="submit" value="Back to book list"/>
</form>
</body>
</html>